.button {
  cursor: pointer;
  border-radius: 5px;
  background-color: darkblue;
  text-transform: lowercase;
  font-weight: 600;
  padding: 10px 15px;
  margin-bottom: 10px;
  color: white;
  width: 150px;
  margin-top: 20px;
}

.hidden {
  display: none;
}
