.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  text-transform: lowercase;
  font-weight: 600;
  padding: 10px 15px;
  color: black;
}

.searchbar {
  width: 100%;
  background-color: darkblue;
  padding-top: 15px;
  padding-bottom: 15px;
}

.input {
  border-radius: 5px;
  width: 350px;
  height: 30px;
  margin-right: 10px;
}
